In [1]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_ec163e77affc46fa99f98234ef367f9b = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='fAoov85MUzPeW32wmnh7O3aCEBEs-W7G4SqaeZS9Go-3',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.ap-geo.objectstorage.service.networklayer.com')

body = client_ec163e77affc46fa99f98234ef367f9b.get_object(Bucket='edx1-donotdelete-pr-mimwnjmslwrxhv',Key='311_Service_Requests_from_2010_to_Present_min.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [2]:
client_cred = ibm_boto3.client(service_name='s3',
ibm_api_key_id='fAoov85MUzPeW32wmnh7O3aCEBEs-W7G4SqaeZS9Go-3',
ibm_auth_endpoint='https://iam.cloud.ibm.com/oidc/token',
config=Config(signature_version='oauth'),
endpoint_url='https://s3.ap-geo.objectstorage.service.networklayer.com')

In [3]:
df_data_1.to_pickle('./df_raw.pkl')

In [4]:
client_cred.upload_file('./df_raw.pkl','edx1-donotdelete-pr-mimwnjmslwrxhv','df_raw_cos.pkl')

In [5]:
client_cred.download_file(Bucket='edx1-donotdelete-pr-mimwnjmslwrxhv',Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')

In [6]:
df_raw_local = pd.read_pickle('./df_raw_local.pkl')
#df_raw_local.head()
df_raw_local.shape

(6019843, 16)

In [7]:
df_raw_local.columns

Index(['Unnamed: 0', 'Unique Key', 'Created Date', 'Closed Date',
       'Complaint Type', 'Location Type', 'Incident Zip', 'Incident Address',
       'Street Name', 'Address Type', 'City', 'Status',
       'Resolution Description', 'Borough', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
#Choose 'Complaint Type'  Columns to counts the number of each complaint types
#temp_borough = df_raw_local['Borough'].value_counts()
#temp_borough

In [9]:
#df_raw_local[df_raw_local["Borough"] == "BROOKLYN"]["Borough"].value_counts()

In [10]:
#complaint_type = df_raw_local['Complaint Type'].value_counts()
#complaint_type

In [11]:
#df_complaint_heat = df_raw_local.loc[df_raw_local['Complaint Type']=='HEAT/HOT WATER'].dropna()
#df_complaint

In [12]:
#df = df_complaint.loc[:,['Borough', 'City', 'Incident Zip']]
#df

In [13]:
#temp_borough = df['Borough'].value_counts()
#temp_borough

In [14]:
import numpy as np
df_raw_local['Complaint Type'].unique()

array(['HEAT/HOT WATER', 'UNSANITARY CONDITION', 'APPLIANCE', 'GENERAL',
       'ELECTRIC', 'PLUMBING', 'PAINT/PLASTER', 'WATER LEAK', 'SAFETY',
       'DOOR/WINDOW', 'OUTSIDE BUILDING', 'ELEVATOR', 'FLOORING/STAIRS',
       'Unsanitary Condition', 'HPD Literature Request', 'HEATING',
       'PAINT - PLASTER', 'Safety', 'Electric', 'General', 'Appliance',
       'GENERAL CONSTRUCTION', 'NONCONST', 'CONSTRUCTION', 'AGENCY',
       'STRUCTURAL', 'VACANT APARTMENT', 'Outside Building', 'Plumbing',
       'Mold'], dtype=object)

In [15]:
df_raw_local['Complaint Type'].value_counts()

HEAT/HOT WATER            1261574
HEATING                    887850
PLUMBING                   711130
GENERAL CONSTRUCTION       500863
UNSANITARY CONDITION       451643
PAINT - PLASTER            361257
PAINT/PLASTER              346438
ELECTRIC                   307310
NONCONST                   260890
DOOR/WINDOW                205278
WATER LEAK                 193631
GENERAL                    151308
FLOORING/STAIRS            137402
APPLIANCE                  112831
HPD Literature Request      52824
SAFETY                      51529
OUTSIDE BUILDING             7142
ELEVATOR                     6725
Unsanitary Condition         5499
CONSTRUCTION                 5078
General                      1163
Safety                        424
STRUCTURAL                     16
Plumbing                       11
AGENCY                          9
Outside Building                6
VACANT APARTMENT                6
Appliance                       4
Mold                            1
Electric                        1
Name: Complaint Type, dtype: int64

In [16]:
#df_borough = df_raw_local[['Borough', 'Complaint Type']].groupby(['Borough']).sum()
#df_borough = df_raw_local[['Borough', 'Complaint Type']].groupby(['Borough'])
#df_borough

In [17]:
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='HEATING','HEAT/HOT WATER',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='PLUMBING','WATER LEAK',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Plumbing','WATER LEAK',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='PAINT - PLASTER','PAINT/PLASTER',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='CONSTRUCTION','GENERAL CONSTRUCTION',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='STRUCTURAL','GENERAL CONSTRUCTION',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Electric','ELECTRIC',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Appliance','APPLIANCE',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Unsanitary Condition','UNSANITARY CONDITION',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='General','GENERAL',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Safety','SAFETY',df_raw_local['Complaint Type'])
df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='Outside Building','OUTSIDE BUILDING',df_raw_local['Complaint Type'])

#df_raw_local['Complaint Type'] = df_raw_local['Complaint Type'].dropna()
df_raw_local['Complaint Type'].value_counts()

HEAT/HOT WATER            2149424
WATER LEAK                 904772
PAINT/PLASTER              707695
GENERAL CONSTRUCTION       505957
UNSANITARY CONDITION       457142
ELECTRIC                   307311
NONCONST                   260890
DOOR/WINDOW                205278
GENERAL                    152471
FLOORING/STAIRS            137402
APPLIANCE                  112835
HPD Literature Request      52824
SAFETY                      51953
OUTSIDE BUILDING             7148
ELEVATOR                     6725
AGENCY                          9
VACANT APARTMENT                6
Mold                            1
Name: Complaint Type, dtype: int64

In [18]:
#df_raw_local = df_raw_local.loc[df_raw_local['Complaint Type']=='HEAT/HOT WATER'].dropna()
#df_raw_local = df_raw_local.loc[df_raw_local['Complaint Type']=='HEATING'].dropna()
#df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='HEATING','HEAT/HOT WATER',df_raw_local['Complaint Type'])
#df_raw_local['Complaint Type'].value_counts()
#df_raw_local = df_raw_local.dropna()
#df_raw_local.head()

In [19]:
#df_raw_local['Complaint Type'] = np.where(df_raw_local['Complaint Type']=='HEATING','HEAT/HOT WATER',df_raw_local['Complaint Type'])
#df_raw_local.head()

In [20]:
df_complaint = df_raw_local.loc[df_raw_local['Complaint Type']=='HEAT/HOT WATER']
df_borough = df_complaint[['Borough', 'Complaint Type']].groupby(['Borough'])
#df_complaint[['Borough', 'Complaint Type']].groupby(['Borough']).sum()
#df_borough.head()
#df_borough = df_complaint[['Borough', 'Complaint Type']].groupby(['Borough']).sum()
#df_borough.head()
#df_complaint.head()
#df_complaint.count()

In [21]:
#df = df_raw_local.loc[:,['Borough', 'City', 'Incident Zip']]
df = df_raw_local.loc[:,['Borough']]
df

               Borough
0            MANHATTAN
1             BROOKLYN
2               QUEENS
3                BRONX
4             BROOKLYN
5                BRONX
6             BROOKLYN
7               QUEENS
8             BROOKLYN
9             BROOKLYN
10               BRONX
11           MANHATTAN
12              QUEENS
13            BROOKLYN
14            BROOKLYN
15           MANHATTAN
16               BRONX
17           MANHATTAN
18           MANHATTAN
19               BRONX
20            BROOKLYN
21            BROOKLYN
22               BRONX
23            BROOKLYN
24           MANHATTAN
25           MANHATTAN
26            BROOKLYN
27               BRONX
28            BROOKLYN
29               BRONX
...                ...
6019813       BROOKLYN
6019814       BROOKLYN
6019815          BRONX
6019816      MANHATTAN
6019817       BROOKLYN
6019818         QUEENS
6019819          BRONX
6019820         QUEENS
6019821          BRONX
6019822  STATEN ISLAND
6019823      MANHATTAN
6019824          BRONX
6019825       BROOKLYN
6019826      MANHATTAN
6019827          BRONX
6019828      MANHATTAN
6019829       BROOKLYN
6019830          BRONX
6019831          BRONX
6019832         QUEENS
6019833          BRONX
6019834          BRONX
6019835          BRONX
6019836      MANHATTAN
6019837          BRONX
6019838      MANHATTAN
6019839          BRONX
6019840      MANHATTAN
6019841          BRONX
6019842      MANHATTAN

[6019843 rows x 1 columns]

In [22]:
temp_borough = df['Borough'].value_counts()
temp_borough

BROOKLYN         1739886
BRONX            1617956
MANHATTAN        1055225
Unspecified       873221
QUEENS            645971
STATEN ISLAND      87584
Name: Borough, dtype: int64

In [23]:
#df_borough = df_raw_local[['Borough', 'Complaint Type']].groupby(['Borough']).sum()